	<div id="mySidenav3" class="sidenav">
    
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
    
  <div class="form-group-2">

    
     <div class="form-control-2" id="expense_fname_3" data-field="name"></div>
  </div>
  <div class="form-group-2">


     <div class="form-control-2" id="expense_lname_3"></div>
  </div>
  <div class="form-group-2">

 
    <div class="form-control-2" id="inputEmail_3"></div>
  </div>
  <div class="form-group-2">


    <div class="form-control-2" id="expense_role_3"></div>
  </div>
  <div class="form-group-2">

    
    <div class="form-control-2" id="expense_branch_3"></div>
  </div>
  <div class="form-group-2">

  
    <div class="form-control-2" id="expense_ena_3"></div>
  </div>
 


		</div>

