<div class="vh-100 d-flex justify-content-center align-items-center" >
  <div class="p-5">
   

<div class="company-description">
  <%= image_tag('logo.png', class: 'company-logo') %>
  
  <h2 class="text-center mb-4 text-primary"><%= title %></h2>
   <ul class="tick-list">
      <li>All In One Tool <br/> Run And Scale Your ERP CRM Apps</li>
      <br/><br/>
      <li>Easily Add And Manage Your Services<br/> It Brings Together Your Invoice Clients And Leads</li>
    </ul>
</div>
</div>
</div>