	<div id="mySidenav3" class="sidenav">
    
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
    
  <div class="form-group-2">

    
     <div class="form-control-2" id="expense_name_3" data-field="name"></div>
  </div>
  <div class="form-group-2">


     <div class="form-control-2" id="expense_expense_category_id_3"></div>
  </div>
  <div class="form-group-2">

 
    <div class="form-control-2" id="expense_currency_3"></div>
  </div>
  <div class="form-group-2">


    <div class="form-control-2" id="expense_total_3"></div>
  </div>
  <div class="form-group-2">

    
    <div class="form-control-2" id="expense_description_3"></div>
  </div>
  <div class="form-group-2">

  
    <div class="form-control-2" id="expense_ref_3"></div>
  </div>
 


		</div>

